<div class="stepper">
  <mat-vertical-stepper linear #stepper>
    <mat-step [stepControl]="startRatingForm" [editable]="isEditable" [completed]="true">
      <form [formGroup]="startRatingForm">
        <ng-template matStepLabel>Bewertung starten</ng-template>
        <div class="start-rating-container">
          <mat-card-content>
<!--             <div *ngIf="user">

              <mat-form-field appearance="fill">
                <mat-label>Dozent</mat-label>
                <input matInput placeholder="Favorite food" [value]="user.displayName" disabled>
              </mat-form-field>

            </div> -->
            <mat-form-field appearance="fill">
              <mat-label>Klasse</mat-label>
              <mat-select placeholder="Klasse" formControlName="classId">
                <mat-option *ngFor="let class of classes" [value]="class.id">
                  {{class.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Modul</mat-label>
              <mat-select placeholder="Modul" formControlName="moduleName">
                <mat-option *ngFor="let module of modules" [value]="module.name">
                  {{module.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Von</mat-label>
              <input autocomplete="off" name="module-start" matInput [matDatepicker]="start" placeholder="D.MM.YYYY"
                formControlName="startDate">
              <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
              <mat-datepicker #start></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Bis</mat-label>
              <input autocomplete="off" name="module-end" matInput [matDatepicker]="end" placeholder="D.MM.YYYY"
                formControlName="endDate">
              <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
              <mat-datepicker #end></mat-datepicker>
            </mat-form-field>

          </mat-card-content>

        </div>
        <div>
          <button [disabled]="!startRatingForm.valid" (click)="startRating(stepper, startRatingForm)" mat-flat-button color="primary">Start</button>

        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="endRatingForm" [editable]="isEditable">
      <form [formGroup]="endRatingForm">
        <input style="display: none" formControlName="secondCtrl" required>
        <ng-template matStepLabel>Bewertung durchführen</ng-template>
        <div *ngIf="openRatings">
          <div *ngFor="let rating of openRatings">
            <mat-card>
              <mat-card-title>
                {{ rating.moduleName }}
              </mat-card-title>
              <mat-card-subtitle>
                Dozent: {{ rating.teacher }}
              </mat-card-subtitle>
              <mat-card-content>
                Bewertung läuft..
                Abgegeben 0 / {{eligibleStudents}}
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div>
          <button mat-button (click)="setCompleted()">complete</button>
          <button mat-button matStepperNext>Bewertung beenden</button>
        </div>
      </form>
    </mat-step>


    <mat-step>
      <ng-template matStepLabel>Bewertung beendet</ng-template>
      You are now done.
      <div>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
