<mat-card class="rating-card">
  <mat-card-title>
    Bewertung des Moduls XYZ
  </mat-card-title>
  <mat-card-subtitle>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    </mat-card-subtitle>
  <mat-card-content>
  <div class="rating-list">
    <div class="rating-item">

      Die Unterlagen der selbstgesteuerten Lernmodule unterstützten Sie beim Erreichen Ihres Lernerfolgs.

    </div>
    <div class="rating">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle color="primary" value="1">1</mat-button-toggle>
        <mat-button-toggle value="2">2</mat-button-toggle>
        <mat-button-toggle value="3">3</mat-button-toggle>
        <mat-button-toggle value="4">4</mat-button-toggle>
        <mat-button-toggle value="5">5</mat-button-toggle>
        <mat-button-toggle value="6">6</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-divider [inset]="true"></mat-divider>
    <div class="rating-item">

      Die Übungen der Modulunterlagen waren verständlich und handlungsorientert.

    </div>
    <div class="rating">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle color="primary" value="1">1</mat-button-toggle>
        <mat-button-toggle value="2">2</mat-button-toggle>
        <mat-button-toggle value="3">3</mat-button-toggle>
        <mat-button-toggle value="4">4</mat-button-toggle>
        <mat-button-toggle value="5">5</mat-button-toggle>
        <mat-button-toggle value="6">6</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-divider [inset]="true"></mat-divider>
    <div class="rating-item">
      Die Standart- und Lernsoftware wurden themen- und inhaltsbezogen eingesetzt.
    </div>
    <div class="rating">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle color="primary" value="1">1</mat-button-toggle>
        <mat-button-toggle value="2">2</mat-button-toggle>
        <mat-button-toggle value="3">3</mat-button-toggle>
        <mat-button-toggle value="4">4</mat-button-toggle>
        <mat-button-toggle value="5">5</mat-button-toggle>
        <mat-button-toggle value="6">6</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-divider [inset]="true"></mat-divider>
    <div class="rating-item">
      Die Unterstützung der Trainer war ergebnisorientiert.
    </div>
    <div class="rating">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle color="primary" value="1">1</mat-button-toggle>
        <mat-button-toggle value="2">2</mat-button-toggle>
        <mat-button-toggle value="3">3</mat-button-toggle>
        <mat-button-toggle value="4">4</mat-button-toggle>
        <mat-button-toggle value="5">5</mat-button-toggle>
        <mat-button-toggle value="6">6</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-divider [inset]="true"></mat-divider>
    <div class="rating-item">
      Die Konsultationen/Auswertungen der Trainer waren aufgaben- und situationsgerecht.
    </div>
    <div class="rating">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle color="primary" value="1">1</mat-button-toggle>
        <mat-button-toggle value="2">2</mat-button-toggle>
        <mat-button-toggle value="3">3</mat-button-toggle>
        <mat-button-toggle value="4">4</mat-button-toggle>
        <mat-button-toggle value="5">5</mat-button-toggle>
        <mat-button-toggle value="6">6</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-divider [inset]="true"></mat-divider>
    <div class="rating-item">
      Das Arbeitsklima war angenehm und leistungsfördernd beim eigenständigen Lernen.
    </div>
    <div class="rating">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle color="primary" value="1">1</mat-button-toggle>
        <mat-button-toggle value="2">2</mat-button-toggle>
        <mat-button-toggle value="3">3</mat-button-toggle>
        <mat-button-toggle value="4">4</mat-button-toggle>
        <mat-button-toggle value="5">5</mat-button-toggle>
        <mat-button-toggle value="6">6</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-divider [inset]="true"></mat-divider>
    <div class="rating-item">
      Die Ausstattung der Räume und die vorhandene Technik war gut.
    </div>
    <div class="rating">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle color="primary" value="1">1</mat-button-toggle>
        <mat-button-toggle value="2">2</mat-button-toggle>
        <mat-button-toggle value="3">3</mat-button-toggle>
        <mat-button-toggle value="4">4</mat-button-toggle>
        <mat-button-toggle value="5">5</mat-button-toggle>
        <mat-button-toggle value="6">6</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
</mat-card-content>
  <mat-card-actions class="button-row" align="end">
      <button mat-flat-button color="accent">Zurücksetzen</button>
    <button mat-flat-button color="primary">Bewerten</button>
  </mat-card-actions>
</mat-card>