<div class="container">
<h1 class="mat-h1">Benutzer</h1>
<mat-card>
  <button  mat-stroked-button (click)="openDialog()" color="primary">
    <mat-icon class="add-button-icon">person_add</mat-icon> Benutzer hinzufügen
  </button>
  <mat-form-field class="search-field">
    <input name="user-search" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="userDataSource" matSort matSortActive="displayName" matSortDirection="asc">

    <!-- Name Column -->
    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.displayName}} </td>
    </ng-container>

    <!-- E-Mail Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> E-Mail </th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Zugang </th>
      <td mat-cell *matCellDef="let row"> {{row.roles.role}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</mat-card>
</div>