

  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

/*   mat-dialog-content {
    max-width: 480px;
    min-width: 300px;
    .mat-form-field {
      width: 100%;
    }
  } */