<mat-sidenav-container class="sidesheet-container mat-typography">

  <mat-sidenav #sidesheet position="end" class="sidesheet" fixedInViewport="true" fixedTopGap="60" attr.role="dialog"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="state">

    <div class="sidesheet-toolbar">
      <span class="sidesheet-title">Filter</span>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button (click)="closeSidesheet()">
        <mat-icon class="sidesheet-toolbar-icon">close</mat-icon>
      </button>
    </div>

    <div class="sidesheet-content">
      <mat-form-field class="search-field">
        <input name="user-search" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

  </mat-sidenav>

  <div class="content-container mat-elevation-z2">

    <table mat-table [dataSource]="modulDataSource" matSort matSortActive="name" matSortDirection="asc">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <!-- Header -->
      <ng-container matColumnDef="header">
        <th mat-header-cell *matHeaderCellDef>
          <button mat-button (click)="openDialog()" color="primary">Add</button> 
          <button mat-button (click)="openDialog()" color="primary" disabled>Remove</button>
        </th>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['header']" class="first-header-row">

      </tr>

      <tr mat-header-row *matHeaderRowDef="displayedColumns">

      </tr>
      
      <tr mat-row class="row" *matRowDef="let row; columns: displayedColumns;">

      </tr>

    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>


  </div>
</mat-sidenav-container>
