<h2 mat-dialog-title>
  Klasse hinzufügen
</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit(form)">
<mat-card-content>
  <div class="new-class-container">
    <mat-form-field  appearance="fill">
      <mat-label>Name</mat-label>
      <input autocomplete="off" name="class-name" matInput formControlName="className" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Info</mat-label>
      <input autocomplete="off" name="class-info" matInput formControlName="info" required>
    </mat-form-field>
  </div>
</mat-card-content>
<mat-dialog-actions align="end">
  <button class="mat-flat-button" mat-dialog-close>Close</button>
  <button class="mat-flat-button mat-primary" type="submit" [disabled]="!form.valid">Save</button>
</mat-dialog-actions>
</form>
