.content-header {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.content-title {
  font-weight: 300;
  margin: 0;
  padding: 28px 8px 0 0;
  font-size: 20px;
}

.content-container {
  margin: 0 20px 0 20px;
}
