.toolbar-spacer {
  flex: 1 1 auto;
}

.admin-toolbar {
  z-index: 999;
}

.sidenav-container {
  height: 100%;

}

.sidenav {
  width: 256px;

}
.mat-nav-list.main-nav a {
  border-radius: 6px;
  margin-bottom: 8px;
  height: 48px;
}
.mat-nav-list.main-nav mat-icon {
padding-right: 32px;
}
.sidenav-menu-icon {
  color: rgba(0, 0, 0, 0.54)
}
.sidenav-content {
  padding: 8px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}


.content-container {
  /* margin: 0 1px 0 1px; */
  margin: 16px;
}

.add-button {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900
}

table {
  width: 100%;
}
.first-header-row th {
  border-bottom: none;
  cursor: default;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  cursor: pointer;
}

.add-button-icon {
  margin-right: 8px;
}

.search-field {
  margin-top: 16px;
}
.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
.ratings-card {
  position: absolute;
  top: 8px;
  left: 8px;
  right: 4px;
  bottom: 2px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.rating-overview-card-content {
  padding: 8px;
}

.sidesheet-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidesheet {
  width: 320px;
  border-left: 1px solid rgba(0, 0, 0, .14);
}

.sidesheet-content {
  padding: 20px 16px 0px 16px;
}

.sidesheet-toolbar {
  height: 64px;
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.sidesheet-toolbar-icon {
  color: rgba(0, 0, 0, 0.54)
}

.sidesheet-title {
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}
