
  
.toolbar-spacer {
    flex: 1 1 auto;
}

.admin-toolbar {
  z-index: 999;
}
.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
  }
  