<h2 mat-dialog-title>
  <mat-icon>person_add</mat-icon> Modul hinzufügen
</h2>
<mat-card-content>
  <div class="new-modul-container">
    <mat-form-field appearance="fill">
      <mat-label>Modul Name</mat-label>
      <input name="modul-name" matInput [(ngModel)]="data.name" required>
    </mat-form-field>

  </div>
</mat-card-content>
<mat-dialog-actions align="end">
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>